<form action='/flights' method='post'>
  <label for='airline'><span class='title'>Airline:</span></label>
  <input type='text' id='airline' name='airline' minlength='4' maxlengh='15' required value=''>

  <label for='flight_number'><span class='title'>Flight Number:</span></label>
  <input type='text' id='flight_number' name='flight_number' minlength='1' maxlength='5' required pattern='\d{1,4}[A-Z]?' value=''>

  <p>
    <label for='destination'><span class='title'>Destination:</span></label>
    <input type='text' id='destination' name='destination' minlength='4' maxlengh='20' required value=''>
    <span class='italic'>Please use full city name, not airport code.</span>
  </p>

  <span class='title'>Time:</span>
    <label for='hour'>hour</label>
    <select name='hour' required id='hour'>
      <option value='00'>00</option>
      <option value='01'>01</option>
      <option value='02'>02</option>
      <option value='03'>03</option>
      <option value='04'>04</option>
      <option value='05'>05</option>
      <option value='06'>06</option>
      <option value='07'>07</option>
      <option value='08'>08</option>
      <option value='09'>09</option>
      <option value='10'>10</option>
      <option value='11'>11</option>
      <option value='12'>12</option>
      <option value='13'>13</option>
      <option value='14'>14</option>
      <option value='15'>15</option>
      <option value='16'>16</option>
      <option value='17'>17</option>
      <option value='18'>18</option>
      <option value='19'>19</option>
      <option value='20'>20</option>
      <option value='21'>21</option>
      <option value='22'>22</option>
      <option value='23'>23</option>
    </select>

    <label for='minute'>minute</label>
    <select name='minute' required id='minute'>
      <option value='00'>00</option>
      <option value='05'>05</option>
      <option value='15'>15</option>
      <option value='20'>20</option>
      <option value='25'>25</option>
      <option value='30'>30</option>
      <option value='35'>35</option>
      <option value='40'>40</option>
      <option value='45'>45</option>
      <option value='50'>50</option>
      <option value='55'>55</option>
    </select>
    <span class='italic'>Represented via 24-hour clock: 1 PM = 13:00</span>


  <!-- <span class='title'>Date:</span>
  <br>
  <label for='year'>year</label>
  <select name='year' id='year'>
    <option value='2019'>2019</option>
    <option value='2020'>2020</option>
    <option value='2021'>2021</option>
    <option value='2022'>2022</option>
    <option value='2023'>2023</option>
  </select>
  <label for='month'>month</label>
  <select name='month' id='month'>
    <option value='01'>January</option>
    <option value='02'>February</option>
    <option value='03'>March</option>
    <option value='04'>April</option>
    <option value='05'>May</option>
    <option value='06'>June</option>
    <option value='07'>July</option>
    <option value='08'>August</option>
    <option value='09'>September</option>
    <option value='10'>October</option>
    <option value='11'>November</option>
    <option value='12'>December</option>
  </select>
  <label for='day'>day</label>
  <select name='day' id='day'>
    <option value='01'>01</option>
    <option value='02'>02</option>
    <option value='03'>03</option>
    <option value='04'>04</option>
    <option value='05'>05</option>
    <option value='06'>06</option>
    <option value='07'>07</option>
    <option value='08'>08</option>
    <option value='09'>09</option>
    <option value='10'>10</option>
    <option value='11'>11</option>
    <option value='12'>12</option>
    <option value='13'>13</option>
    <option value='14'>14</option>
    <option value='15'>15</option>
    <option value='16'>16</option>
    <option value='17'>17</option>
    <option value='18'>18</option>
    <option value='19'>19</option>
    <option value='20'>20</option>
    <option value='21'>21</option>
    <option value='22'>22</option>
    <option value='23'>23</option>
    <option value='24'>24</option>
    <option value='25'>25</option>
    <option value='26'>26</option>
    <option value='27'>27</option>
    <option value='28'>28</option>
    <option value='29'>29</option>
    <option value='30'>30</option>
    <option value='31'>31</option>
  </select> -->
  <p>
    <button class='new' type='submit' name='add'>Submit</button>
  </p>
</form>
<a href="/"><button type='button' class='cancel' name='Cancel'>Cancel</button></a>
